includes:
	- vendor/larastan/larastan/extension.neon
	- vendor/lychee-org/phpstan-lychee/phpstan.neon

parameters:
	level: 2
	paths:
		- src
	excludePaths:
	stubFiles:
	ignoreErrors:
		# - identifier: missingType.generics
		- '#Dynamic call to static method Kalnoy\\Nestedset\\QueryBuilder<Tmodel of Illuminate\\Database\\Eloquent\\Model>::whereRaw\(\).#'
