includes:
	- vendor/larastan/larastan/extension.neon
	- vendor/lychee-org/phpstan-lychee/phpstan.neon
	- phpstan-baseline.neon

parameters:
	level: 4
	paths:
		- src
		- tests/models/
	excludePaths:
	stubFiles:
	ignoreErrors:
		- '#.*covariant.*#'
		- '#.*contravariant.*#'
		-
			message: '#^Call to an undefined method Kalnoy\\Nestedset\\Contracts\\Node::assert.*\(\)\.$#'